{% extends "base.html" %}
{% block content %}
    <h1>Upcoming events</h1>
    {% if all_events|length == 0 %}
        <p>No events are currently planned. Check back later!</p>
    {% endif %}
    <ul>
        {% for event in all_events %}
            <li>
                <h2>{{event.name}}</h2>
                <h3>{{event.date.strftime("%A %d %B %Y")}}</h3>
                {{event.description}}<br><br>
                Attendees: {{event.num_guests}}<br>
                Venue: {{event.room}}<br>
            </li>
        {% endfor %}
    </ul>
    <br>
    <h1>Add an event</h1>
    <form action="/events" method="post">
        <label for="year">Date:</label>
        <input type="date" name="date" id="date" required><br><br>
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name" required><br><br>
        <label for="num_guests">Number of guests:</label><br>
        <input type="number" name="num_guests" id="num_guests" required><br><br>
        <label for="room">Room:</label><br>
        <input type="text" name="room" id="room" required><br><br>
        <label for="description">Description:</label><br>
        <textarea name="description" id="description" rows="3" cols="50" required></textarea><br><br>
        <input type="submit" value="Add event">
    </form>
    <br>
    <h1>Delete an event</h1>
    <form action="/events/delete" method="post">
        <label for="name_query">Event name search:</label>
        <input type="text" name="name_query" id="name_query" required>
        <input type="submit" value="Delete event">
    </form>

{% endblock content %}
